html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;
    font-size: 22.6px;
}
.img-container {
    background-image: url('img/background.jpg');
    height:100vh;
    width:100%;
}
.header {
    display:flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header-nav-item, .header-right-item, .header-title {
    color: white;
    padding: 0;
    
}
.header-nav-items, .header-right-items {
    list-style-type: none;
    display: flex;
}
.header-item {
    display: flex;
}
.header-right-items {
    padding-right: 10px;
}
.header-right-item {
    padding-right: 12px;
}
.header-nav-items {
    padding-left: 10px;
}
.header-nav-item {
    padding-left: 12px ;
}
.header-nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 12px ;
    color: rgb(206, 206, 206);
}
.header-right-item:hover {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 12px;
    color: rgb(206, 206, 206);
}
.header-title {
    font-size: 30px;
}
.main {
    display: flex;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: flex-end;
}
.footer {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}
.footer-mobile-items {
    display: none;
}
@media (max-width : 678px) {
    .header-right-container {
        display: none;
    }
    .header {
        flex-wrap: wrap;
        height: auto;
        padding-top: 33px;
    }
    .header-nav-container, .header-title-container {
        width: 100%;
        justify-content: center;
    }
    .header-nav-container {
        order: 1;
    }
    .main {
        height: calc(100vh - 142px);
    }
    .footer-copyright-content {
        display: none;
    }
    .footer-mobile-items {
        display:flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .footer-mobile-item {
        padding-right: 12px;
    }
    .footer-mobile-item:hover {
        text-decoration: underline;
        cursor: pointer;
        color: rgb(206, 206, 206);
    }
}