html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Texturina', serif;
    font-family: 'Viaoda Libre', cursive;
    font-size: 22.6px;
}
.container {
    max-width: 1300px;
}
.img-container {
    background-image: url('../img/background.jpg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    display:flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header-nav-item, .header-right-item, .header-title {
    color: white;
    padding: 0;
    
}
.header-nav-items, .header-right-items {
    list-style-type: none;
    display: flex;
}
.header-item {
    display: flex;
}
.header-right-items {
    padding-right: 10px;
}
.header-right-item {
    padding-right: 15px;
}
.header-nav-items {
    padding-left: 10px;
}
.header-nav-item {
    padding-left: 15px ;
}
.header-nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(206, 206, 206);
}
.header-right-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(206, 206, 206);
}
.header-title {
    font-size: 30px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0;
}
.footer {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
}
.footer-mobile-items {
    display: none;
}
.presentation-container, .gamebox-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.presentation {
    background-image: url('../img/pres.png');
    display: flex;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 300px;
    width: 800px;
}
.gamebox {
    background-image: url('../img/game.png');
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}
.title, .title-discription{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.title-discription {
    font-size: 18px;
}
.title-container {
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    margin-top: 35px;
    align-items: center;
    width: 100%;
    justify-content: center
}
.colors-box {
    border-radius: 8px;
    height: 100px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.colors-box:hover {
    cursor: pointer;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.colors {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
}
.colors-item-blue {
    background: rgba(0, 38, 137, 0.69);
}
.colors-item-red {
    background: rgba(92, 0, 0, 0.69);
}
.colors-item-purple {
    background: rgba(86, 0, 197, 0.69);
}
.colors-item-green {
    background: rgba(0, 92, 9, 0.69);
}
.colors-item-yellow {
    background: rgba(255, 226, 74, 0.69);
}
.colors-item-pink {
    background: rgba(153, 0, 92, 0.69);
}
.colors-item-blue:hover {
    background: #0047ff;
}
.colors-item-red:hover {
    background: rgb(255, 0, 0);
}
.colors-item-purple:hover {
    background: rgb(111, 0, 255);
}
.colors-item-green:hover {
    background: #03ff1c;
}
.colors-item-yellow:hover {
    background: rgb(255, 225, 74);
}
.colors-item-pink:hover {
    background: #ff049b;
}
.textbox-container {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.textboxs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.text-box {
    background-color:gray;
    width: 450px;
    text-align: center;
    margin-right: 15px;
    justify-content: flex-start;
}
.third-text{
    margin:0;
}
@media(max-width: 1920px) {
    .container {
    max-width: 1500px;
}
}
@media(max-width: 1376px) {
    .container {
    max-width: 1100px;
}
}
@media (max-width : 678px) {
    .header-right-container {
        display: none;
    }
    .header {
        flex-wrap: wrap;
        height: auto;
        padding-top: 33px;
    }
    .header-nav-container, .header-title-container {
        width: 100%;
        justify-content: center;
    }
    .header-nav-container {
        order: 1;
    }
    .footer-copyright-content {
        display: none;
    }
    .footer-mobile-items {
        display:flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .footer-mobile-item {
        padding-right: 12px;
    }
    .footer-mobile-item:hover {
        text-decoration: underline;
        cursor: pointer;
        color: rgb(206, 206, 206);
    }
}
@media (max-width : 740px) {
    .container{
        padding-left:45px;
    }
    .colors {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .gamebox {
        height: auto;
    }
    .title {
        text-align: center;
        padding: 15px 0;
        font-size: 18px;
    }
    .title-discription {
        font-size: 14px;
    }
    .presentation-container, .gamebox-container {
        margin: 0;
    }
    .main {
        padding: 0;
    }
}